@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-size: 24px;
    color: #F9FAF8;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-size: 18px;
    color: #E5E7EB;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-size: 18px;
    color: #F9FAF8;
}
/*Body Content Specifications*/
body {
    color: #E5E7EB;
    font-weight: 300;
    font-size: 18px;
    background-color: white;
}
/*URL Link Specifications*/
a {
    text-decoration: none;
}
a:link, a:visited {
    font-weight: 300;
    font-size: 18px;
    color: #E5E7EB;
}
.button a:link, a:visited {
    font-weight: 700;
    font-size: 18px;
    color: #F9FAF8;
}
/*Items in divisions*/
.hf_item1 {
    flex: 1;
}
.hf_item2 {
    flex-grow: 1;
    display: inline-flex;
    gap: 50px;
}
.hf_item3 {
    flex: 1;
    flex-direction: column;
    text-align: left;
    margin-left: 250px;
    justify-content: space-around;
}
.hf_item4 {
    flex-grow: 1;
}
/*Divisions*/
.hf_container {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hf_container2 {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}
.header {
    font-size: 24px;
    color: #F9FAF8;
}
.button {
    width: 150px;
    height: 50px;
    background-color: #3882f6;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right {
    margin-left: auto;
}
 .left { 
    margin-right: auto;
}
#main {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}
#placeholder {
    background-color: #6e737d;
    height: 200px;
    width: 550px;
    text-align: center;
/*margin-right: 220px;*/
}

